@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: url(../fonts/rubik/rubik-400.woff2);
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: url(../fonts/rubik/rubik-700.woff2);
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;

  src: url(../fonts/raleway/raleway-800.woff2);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 1160px;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.container {
  box-sizing: border-box;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.button {
  font-size: 16px;
}

h2.heading {
  margin-top: 0;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.link-button {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  display: inline-block;
  padding: 10px 0;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.link-button::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  width: 100%;
  height: 8px;
  margin: auto;

  background-color: #ffe17f;
}

.link-button:focus-visible {
  outline: 2px solid #af4fff;
}

.link-button:hover {
  color: #000000;

  background-color: #ffe17f;
}

.link-button:active {
  background-color: #ffc700;
}

.link-button-active:hover {
  color: #ffe17f;

  background-color: #000000;
}

.link-button:active::before {
  opacity: 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

/* header */

.header-container {
  position: relative;

  padding: 0 60px;

  background: linear-gradient(#ffffff 40px, #ffe17f 40px);
}

/* header-logo */

.header-logo {
  padding-top: 20px;
  margin-bottom: 21px;
}

.header-logo-link {
  display: inline-block;
  width: 145px;
  min-height: 36px;
}

.header-logo-link:focus-visible {
  outline: 2px solid #af4fff;
}

.header-logo-link:hover {
  opacity: 0.6;
}

.header-logo-link:active {
  opacity: 0.3;
}

/* header-body */

.header-body {
  display: flex;
  justify-content: space-between;
}

/* header-left */

.header-left {
  display: flex;
  flex-direction: column;
  gap: 31px;
  max-width: 517px;
  min-height: 120px;
  margin-right: 28px;
}

/* header-search */

.header-form {
  box-sizing: border-box;
  display: flex;
  width: 517px;
}

/* search-field */

.search-field {
  position: relative;

  flex-grow: 1;

  border: none;
  cursor: text;
}

.search-field::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;

  width: 16px;
  height: 16px;
  margin: auto;

  background-image: url("../images/header-icon/search-icon.svg");
  background-repeat: no-repeat;
}

.search-field::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  border-radius: 40px 0 0 40px;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
}

.search-field input {
  width: 100%;
  min-height: 40px;
  padding: 0;
  padding-left: 48px;

  font-size: 16px;
  line-height: 20px;

  background-color: #ffe17f;
  border: none;
  outline: none;
}

.search-field input:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 1px;
}

.search-field input::placeholder {
  color: #000000;

  opacity: 0.3;
}

/* header-search-button */

.header-search-button {
  position: relative;

  width: 158px;
  min-height: 40px;

  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
  border-radius: 0 40px 40px 0;
  border: 2px solid #000000;
  border-left: 1px solid #000000;
  outline: none;
  cursor: pointer;
}

.header-search-button::before {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  pointer-events: none;
}

.header-search-button:focus-visible::before {
  outline: 2px solid #af4fff;
  outline-offset: 3px;
}

.header-search-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.header-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.header-search-button:disabled {
  pointer-events: none;
  opacity: 0.3;
}

/* header-bottom */

.header-bottom {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  min-height: 51px;
}

/* header-catalog-heandler */

.header-catalog-heandler {
  position: relative;
  z-index: 3;

  display: flex;
  align-items: center;
  gap: 21px;
  max-width: 295px;
  min-height: 51px;
  padding-right: 68px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  cursor: pointer;
}

.header-catalog-heandler::before {
  content: "";

  position: absolute;
  right: 0;
  bottom: 0;

  width: 50px;
  height: 51px;

  background-image: url("../images/header/header-catalog-button-open.svg");
  background-repeat: no-repeat;

  opacity: 0.3;
}

.header-catalog-heandler:focus-visible {
  outline: 2px solid #af4fff;
}

.header-catalog-heandler:hover::before {
  opacity: 1;
}

.header-bottom:focus-within .header-catalog-heandler::before {
  background-image: url("../images/header/header-catalog-button-close.svg");
  background-repeat: no-repeat;
}

.header-bottom:focus-within .header-drop-catalog {
  visibility: inherit;
}

/* header-catalog */

.header-drop-catalog {
  position: absolute;
  left: -60px;
  bottom: -164px;
  z-index: 2;

  box-sizing: border-box;
  display: flex;
  gap: 57px;

  width: 1160px;
  min-height: 180px;
  padding: 0 60px;

  background-color: #ffe17f;
  visibility: hidden;
}

.header-drop-catalog-item:not(.header-drop-catalog-item:nth-last-child(1)) {
  margin-bottom: 15px;
}

.header-drop-catalog-list {
  box-sizing: border-box;
  margin: 0;
  padding: 30px 0 0 0;

  list-style: none;
}

.header-drop-catalog-list:focus-within .header-drop-catalog-link:focus-visible {
  outline: 2px solid #af4fff;
}

.header-drop-catalog-item {
  line-height: 18px;
}

.header-drop-catalog-link {
  box-sizing: border-box;
  display: inline-block;

  font-size: 16px;
  text-decoration: none;
  color: #000000;

  border-bottom: 2px solid transparent;
}

.header-drop-catalog-link-active {
  position: relative;
}

.header-drop-catalog-link-active::before {
  content: "";

  position: absolute;
  bottom: -2px;

  width: 100%;
  height: 2px;

  background-color: #000000;
}

.header-drop-catalog-link:hover {
  opacity: 0.6;
}

.header-drop-catalog-link:active {
  opacity: 0.3;
}

/* header-right */

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 31px;
  min-height: 50px;
  max-width: 523px;
  width: 100%;
}

.header-right .header-bottom {
  position: relative;
  padding-left: 24px;
}

/* header-top */

.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40px;
}

.header-control-link:focus-visible {
  outline: 2px solid #af4fff;
  opacity: 1;
}

/* header-user-menu */

.header-user-menu {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 231px;
  margin-right: auto;
}

.header-user-menu .header-control-link {
  position: relative;

  padding-left: 24px;
}

.header-user-menu .header-control-link::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 13px;
  height: 12px;
  margin: auto;

  background-image: url("../images/header-icon/user-menu-icon.svg");
}

.header-user-menu-close {
  text-decoration: none;
  color: #000000;

  padding-left: 28px;

  opacity: 0.3;
}

/* header-compare */

.header-compare {
  margin-right: 18px;
}

.header-compare .header-control-link {
  position: relative;

  padding-left: 23px;
}

.header-compare .header-control-link::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 10px;
  height: 12px;
  margin: auto;

  background-image: url("../images/header-icon/compare-icon.svg");
}

.header-compare-icon {
  width: 12px;
  height: 10px;
  margin-right: 12px;

  background-image: url("../images/header-icon/compare-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* header-control-menu */

.header-control-menu {
  position: relative;

  display: flex;
  max-width: 240px;
}

.header-control-link {
  display: flex;
  align-items: center;

  color: #000000;

  text-decoration: none;
}

.header-control-link:hover {
  opacity: 0.6;
}

.header-control-link:active {
  opacity: 0.3;
}

.header-control-link-exit {
  padding-left: 0;

  opacity: 0.3;
}

/* header-basket */

.header-basket {
  position: relative;
}

.header-basket .header-control-link {
  position: relative;
}

.header-basket .header-control-link::before {
  content: "";

  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;

  width: 16px;
  height: 14px;
  margin: auto;

  background-image: url("../images/header-icon/basket-icon.svg");
}

.header-basket:focus-within .basket-popover-close {
  display: block;
}

.basket-number-product {
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 22px;

  font-size: 14px;
  line-height: 17px;

  background-color: #ffffff;
  border-radius: 50%;
}

/* basket-popover */

.basket-popover {
  position: absolute;
  top: 36px;
  right: -77px;
  z-index: 100;

  width: 320px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #000000;
}

.basket-popover::before {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  top: -6px;

  width: 0;
  height: 0;
  margin: auto;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #000000;
}

.basket-popover-close {
  display: none;
}

.basket-popover-container {
  padding: 20px;
}

.basket-popover:focus-within .basket-pruduct-link:focus-visible {
  outline: 2px solid #af4fff;
}

.basket-popover:focus-within .basket-product-close:focus-visible {
  outline: 2px solid #af4fff;
}

.basket-pruduct-link {
  display: inline-flex;
  gap: 23px;
  width: 100%;

  text-decoration: none;
  color: #ffffff;
}

.basket-pruduct-link:hover {
  opacity: 0.6;
}

.basket-pruduct-link:active {
  opacity: 0.3;
}

.basket-pruduct {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.basket-pruduct-link p {
  width: 120px;
  margin: 0;
}

.basket-product-close {
  margin-left: auto;
  padding: 0;
  width: 10px;
  height: 10px;

  background-color: transparent;
  background-image: url("../images/basket/basket-popover-close.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.basket-product-close:hover {
  opacity: 0.6;
}

.basket-product-close:active {
  opacity: 0.3;
}

.basket-summary {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;

  background-color: #1a1a1a;
}

.basket-button {
  padding: 20px;
}

.basket-link-button {
  display: block;
  padding: 15px 0;

  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;

  background-color: #ffffff;
}

.basket-link-button:focus-visible {
  outline: 2px solid #af4fff;
}

.basket-link-button:hover {
  background-color: #ffe17f;
}

.basket-link-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #ffe17f;
}

.basket-link-button:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.basket-disabled {
  color: rgba(0, 0, 0, 0.3);

  pointer-events: none;
}

/* header-navigation */

.header-navigation {
  width: 100%;
}

.navigation-list {
  display: flex;
  justify-content: flex-end;
  gap: 10px 47px;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.navigation-link {
  z-index: 11;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.navigation-link-active {
  position: relative;
  z-index: 2;
}

.navigation-link-active::before {
  content: "";

  position: absolute;
  bottom: -4px;

  width: 100%;
  height: 2px;

  background-color: #000000;
}

.navigation-item:hover {
  opacity: 0.6;
}

.navigation-link:focus-visible {
  outline: 2px solid #af4fff;
}

.navigation-link:active {
  opacity: 0.3;
}

/* emty-block */

.empty-block {
  height: 20px;

  background-color: #ffe17f;
}

/* main */

.main-title {
  margin: 0;
  margin-bottom: 16px;
  padding-top: 35px;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.main-container {
  flex-grow: 1;
}

/* main-slider */

.main-slider {
  margin-bottom: 41px;

  background: linear-gradient(#ffe17f 134px, #ffffff 134px)
}

.slider-wrap {
  position: relative;
  top: -17px;
}

.slider-collection-list {
  z-index: 0;

  padding: 0;
  margin: 0;

  list-style: none;
}

.slider-collection-item {
  z-index: 1;

  display: flex;
}

.slider-collection-item-close {
  display: none;
}

.slider-image {
  width: 560px;
  height: 560px;
  margin-right: 40px;
}

.slider-description {
  z-index: 1;

  padding-top: 122px;
}

.slider-description h2 {
  margin-bottom: 29px;
}

.slider-description p {
  margin: 0;
  margin-bottom: 50px;
}

.slider-link {
  display: inline-block;
  width: 220px;
  margin-bottom: 50px;

  text-align: center;
}

.slider-link:active.link-button:before {
  background-color: #ffc700;
}

.slider-product-number {
  position: absolute;
  right: 49px;
  top: 82px;

  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.product-characteristic {
  display: flex;
  flex-wrap: wrap;
}

.product-characteristic dl {
  margin: 0;
  margin-right: 20px;
}

.product-characteristic dd {
  margin: 0;
}

.product-characteristic b {
  display: block;

  font-size: 36px;
  font-weight: 400;
}

.product-specification {
  margin: 0;
  margin-bottom: 12px;

  font-size: 16px;
}

.slider-btn-back,
.slider-btn-next {
  position: absolute;
  top: 210px;
  z-index: 10;

  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.slider-btn-back {
  left: 30px;

  width: 20px;
  min-height: 60px;

  background-image: url("../images/arrow/arrow-left.svg");
}

.slider-btn-next {
  left: 540px;

  width: 20px;
  min-height: 60px;

  background-image: url("../images/arrow/arrow-right.svg");
}

.slider-btn-back:focus-visible,
.slider-btn-next:focus-visible {
  outline: 2px solid #af4fff;
}

.slider-btn-back:hover,
.slider-btn-next:hover {
  opacity: 0.6;
}

.slider-btn-back:active,
.slider-btn-next:active {
  opacity: 0.3;
}

.slider-btn-back:disabled,
.slider-btn-next:disabled {
  opacity: 0.1;
  pointer-events: none;
}

/* dots */

.slider-dots {
  position: relative;
  top: -14px;
  z-index: 1;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.dots {
  position: relative;

  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;

  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #000000;
  cursor: pointer;
  outline: none;
}

.dots::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  outline-offset: 2px;
}

.dots-active {
  background-color: #000000;
}

.dots:focus-visible::before {
  outline: 2px solid #af4fff;
}

.dots:hover {
  opacity: 0.6;
}

.dots:active {
  opacity: 0.3;
}

/* breadcrummbs */

.breadcrumbs {
  padding: 0 60px;
  margin-bottom: 33px;

  font-size: 16px;
  line-height: 20px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(.breadcrumbs-item:nth-last-child(1))::after {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;

  width: 4px;
  height: 7px;
  margin: auto;
  margin-left: 18px;

  background-image: url("../images/arrow/breadcrumbs-arrow-right.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.breadcrumbs-link {
  text-decoration: none;

  color: #000000;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #af4fff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-item-last .breadcrumbs-link:hover {
  color: inherit;
}

/* catalog */

.catalog {
  background-color: #f0f0f0;
}

.catalog-container {
  display: flex;
  padding-left: 60px;
}

/* catalog-filter */

.catalog-filter {
  width: 200px;
  padding-right: 60px;
}

.product-filter-heading {
  padding: 25px 0 57px 0;
  margin-top: 0;
  margin-bottom: 11px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  border-bottom: 3px solid #000000;
}

.product-filter legend {
  margin-bottom: 20px;
}

.filter-block {
  margin: 0;
  padding: 0;
  margin-bottom: 11px;

  border: none;
  border-bottom: 3px solid #000000;
}

.product-filter-price label {
  margin-bottom: 30px;
}

/*filter-range */

.range {
  padding-top: 9px;
}

.range-scale {
  width: 200px;
  height: 2px;
  margin-bottom: 5px;

  background-color: #dcdcdc;
}

.range-bar {
  position: relative;

  width: 119px;
  height: 2px;

  background-color: #000000;
}

.range-toggle {
  position: absolute;
  top: -9px;

  box-sizing: border-box;
  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: 2px solid #000000;
  cursor: pointer;
  outline: none;
}

.range-toggle:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.range-toggle:focus-visible::before {
  outline: 2px solid #af4fff;
  outline-offset: 4px;
}

.toggle-min {
  left: -9px;
}

.toggle-max {
  right: -9px;
}

.fieldset-range-label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  width: 55px;

  background-color: transparent;
  border: none;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.range-input::placeholder {
  color: #000000;
}

.range-container-inputs {
  position: relative;
  left: -12px;

  display: flex;
  gap: 10px;
}

.range-container-inputs input {
  font-size: 14px;

  opacity: 0.3;
  outline: none;
}

.range-container-inputs input:focus-visible {
  outline: 2px solid #af4fff;
  opacity: 1;
}

.range-container-inputs label:first-child input {
  margin-right: 18px;
}

/* filter-checkbox */

.product-filter-checkbox label {
  display: flex;
  margin-bottom: 17px;
}

.product-filter-checkbox label:nth-last-child(1) {
  margin-bottom: 32px;
}

.catalog-input-checkbox {
  position: absolute;
  z-index: -1;

  outline: none;
  opacity: 0;
}

.filter-checkbox-label {
  position: relative;

  padding-left: 36px;

  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.filter-checkbox-label::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: auto;

  border: 2px solid #cccccc;
  border-radius: 3px;
}

.catalog-input-checkbox:checked + .filter-checkbox-label::after {
  background-image: url("../images/filter/custom-checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #000000;
}

.catalog-input-checkbox:focus-visible + .filter-checkbox-label::after {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  border-radius: 0;
}

.filter-checkbox-label:hover {
  opacity: 0.6;
}

.filter-checkbox-label:active {
  opacity: 0.3;
}

.catalog-input-checkbox:disabled + .filter-checkbox-label {
  pointer-events: none;
  opacity: 0.2;
}

/* filter-bluetooth  (radio-button) */

.product-filter-bluetooth {
  margin-bottom: 35px;

  border-bottom: none;
}

.product-filter-bluetooth label:not(.product-filter-bluetooth label:nth-last-child(1)) {
  margin-bottom: 20px;
}

.catalog-input-radio {
  position: absolute;
  z-index: -1;

  width: 14px;
  height: 14px;

  opacity: 0;
}

.product-filter-bluetooth .filter-label {
  position: relative;

  display: block;
  padding-left: 36px;

  cursor: pointer;
}

.filter-label::after {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: auto;

  border: 2px solid #cccccc;
  border-radius: 50%;
  border-color: #cccccc;
}

.filter-label::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  width: 20px;
}

.catalog-input-radio:checked + .filter-label::after {
  background-image: url("../images/filter/radio-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000000;
}

.catalog-input-radio:focus-visible + .filter-label::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-input-radio:disabled + .filter-label {
  pointer-events: none;
  opacity: 0.2;
}

.filter-submit-button {
  width: 220px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter-submit-button:active.link-button:before {
  background-color: #ffc700;
}

.filter-submit-button:focus-visible {
  outline: 2px solid #af4fff;
}

.product-filter-title {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/* catalog-product-top */

.catalog-product-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 20px 40px 16px 40px;
}

.sorting-heading {
  max-width: 200px;
  margin: 0;
  padding: 5px 0;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-product-sorting {
  max-width: 141px;
  font-size: 18px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.catalog-product-sorting:focus-visible {
  outline: 2px solid #af4fff;
}

.catalog-product-sorting:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.filter-label {
  font-size: 16px;
  line-height: 20px;
}

.catalog-product-top-arrow button {
  margin: 0;
  padding: 9px;

  border: none;
  cursor: pointer;
}

.catalog-product-top-arrow button:focus-visible {
  outline: 2px solid #af4fff;
}

.catalog-product-top-arrow svg {
  width: 11px;
  height: 10px;

  opacity: 0.2;
}

.catalog-product-top-arrow svg:hover {
  opacity: 0.5;
}

.catalog-product-top-arrow svg:active {
  opacity: 1;
}

/* section catalog-category */

.catalog-category {
  margin-bottom: 82px;
}

.catalog-category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-category-link {
  display: flex;
  flex-direction: column;
  width: 160px;

  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
}

.catalog-category-link:focus-visible {
  outline: 2px solid #af4fff;
}

.catalog-category-images-monopod {
  align-self: flex-end;
}

.catalog-category-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #ffe17f;
}

.catalog-category-item:hover .catalog-category-images {
  background-color: #ffc700;
}

.catalog-category-item:active {
  opacity: 0.3;
}

/* catalog-product-cards */

.catalog-product {
  max-width: 840px;
  width: 100%;
}

.catalog-product-cards {
  max-width: 760px;
  padding: 70px 40px;
  padding-bottom: 78px;

  background-color: #ffffff;
}

.catalog-product-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  justify-items: center;
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;

  line-height: 20px;
  font-weight: 700;

  list-style: none;
}

.catalog-product-cards-link {
  display: inline-block;

  text-decoration: none;
  color: #000000;
}

.catalog-product-cards-link:focus-visible {
  outline: 2px solid #af4fff;
}

.catalog-product-description {
  display: flex;
  justify-content: space-between;
}

.cards-link-hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 180px;
  z-index: 3;

  display: none;
  width: 220px;
  margin: auto;

  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.cards-link-hover::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  width: 220px;
  height: 8px;
  margin: auto;

  background-color: #ffe17f;
}

.catalog-product-cards-item {
  position: relative;
}

.catalog-product-new-active::before {
  content: "";

  position: absolute;
  top: 27px;
  right: 27px;

  width: 60px;
  height: 60px;

  background-image: url("../images/catalog-product-cards/cards-new-icon.svg");
}

.catalog-product-new-active:hover::before {
  opacity: 0.3;
}

.catalog-product-cards-item:hover .cards-link-hover {
  display: block;
}

.catalog-product-cards-item:hover .catalog-product-image,
.catalog-product-cards-item:hover .catalog-product-description {
  opacity: 0.3;
}

.catalog-product-cards-item:active .cards-link-hover::before {
  background-color: #ffc700;
}

.cards-link-hover:hover.cards-link-hover::before {
  height: 40px;
}

.catalog-product-price {
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #444444;
}

.catalog-product-name {
  margin: 0;
  width: 204px;

  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-product-image {
  width: 360px;
  height: 380px;
  margin-bottom: 28px;
}

/* pagination */

.pagination-widget {
  margin-bottom: 44px;
}

.pagination-widget-button {
  width: 100%;
  padding: 15px;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: transparent;
  border: 3px solid #e5e5e5;
  cursor: pointer;
}

.pagination-widget-button:focus-visible {
  outline: 2px solid #af4fff;
}

.pagination-widget-button:hover {
  border-color: #000000;
}

.pagination-widget-button:active {
  border-color: #000000;
  opacity: 0.3;
}

.pagination-widget-button:disabled {
  border-color: #e5e5e5;
  opacity: 0.3;
}

.pagination-control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ebebeb;
}

.pagination-control-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-control-item:nth-child(1) {
  margin-right: auto;
}

.pagination-control-item:nth-last-child(1) {
  margin-left: auto;
}

.pagination-link {
  display: inline-block;
  padding: 10px 0;
  min-width: 40px;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: rgba(68, 68, 68, 0.3);
}

.pagination-link:focus-visible {
  color: rgba(68, 68, 68, 0.3);

  outline: 2px solid #af4fff;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  color: rgba(68, 68, 68, 0.1);
}

.pagination-link-active {
  color: rgba(0, 0, 0, 0.6)
}

.pagination-control-ellipsis {
  padding: 0 13px;
  padding-top: 3px;

  opacity: 0.3;
}

.pagination-control-back,
.pagination-control-next {
  box-sizing: border-box;
  padding: 25px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.pagination-control-active,
.pagination-control-active {
  color: rgba(68, 68, 68, 0.3);

  background-color: #ebebeb;
}

.pagination-control-back:focus-visible,
.pagination-control-next:focus-visible {
  color: #000000;

  background-color: #f0f0f0;
  outline: 2px solid #af4fff;
}

.pagination-control-back:hover,
.pagination-control-next:hover {
  background-color: #dcdcdc;
}

.pagination-control-back:active,
.pagination-control-next:active {
  color: rgb(0, 0, 0, 0.3);

  background-color: #dcdcdc;
}

/* section service  */

.service {
  margin-bottom: 70px;

  background: linear-gradient(#ffffff 100px, #f0f0f0 100px);
}

.service {
  min-height: 390px;
  margin-bottom: 70px;

  background: linear-gradient(#ffffff 102px, #f0f0f0 102px);
}

.service-description {
  position: relative;

  max-width: 694px;
  padding-top: 64px;
}

.service-description input {
  position: absolute;
  opacity: 0;
}

.service-description input:focus-visible + .service-label {
  outline: 2px solid #af4fff;
}

.service-label {
  position: relative;
  z-index: 10;

  display: block;
  max-width: 279px;
  margin-bottom: 35px;
  padding: 0;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  cursor: pointer;
}

.service-label span {
  display: inline-block;
  width: 160px;
  padding: 10px 0;
  padding-right: 120px;

  text-align: center;
}

.service-label span::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  width: 160px;
  height: 8px;
  margin: auto;

  background-color: #ffe17f;
}

.service-box {
  display: none;
}

.delivery:checked + .service-label span,
.warrenty:checked + .service-label span,
.credit:checked + .service-label span {
  color: #ffe17f;

  background-color: #000000;
}

.delivery:checked ~ .service-description-delivery,
.warrenty:checked ~ .service-description-warrenty,
.credit:checked ~ .service-description-credit {
  display: block;
}

.credit:checked + .service-label span:hover {
  text-align: right;
}

.service-label span:hover:not(.service-description input:checked + .service-label span) {
  padding-right: 0;

  background-color: #ffe17f;
}

.service-box {
  position: absolute;
  top: 0;
  left: 280px;

  max-width: 880px;
  width: 100%;
  min-height: 319px;
  padding-left: 116px;

  border-left: 7px solid #000000;
}

.service-description-wrap {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  padding-top: 74px;
}

.service-description-wrap img {
  padding-top: 4px;
}

.service-description-text {
  max-width: 480px;
  margin-right: 78px;

  line-height: 30px;
}

.service-description-text p {
  margin: 0;
  padding-bottom: 72px;
}

.service-description-heading {
  margin: 0 0 34px 0;

  font-size: 50px;
  line-height: 50px;
}

/* express-delivery */

.express-delivery {
  margin-bottom: 70px;
}

.express-delivery-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  padding: 0 125px;

  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;

  background-color: #f0f0f0;
}

.express-delivery-link:after,
.express-delivery-link::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;

  width: 125px;
  margin: auto;

  background-repeat: no-repeat;
  background-position: center;
}

.express-delivery-link:after {
  left: 0;

  background-color: #ffe17f;
  background-image: url("../images/express-delivery/express-delivery-icon.svg");
}

.express-delivery-link::before {
  right: 0;

  background-color: #f0f0f0;
  background-image: url("../images/express-delivery/express-delivery-i.svg");
  opacity: 0.5;
}

.express-delivery-link:focus-visible {
  outline: 2px solid #af4fff;
}

.express-delivery-link:active {
  opacity: 0.3;
}

.express-delivery-link:hover::after {
  background-color: #ffc700;
}

.express-delivery-link:hover::before {
  opacity: 1;
}

/* section company */

.company {
  display: flex;

  margin-bottom: 70px;
}

.company h2 {
  margin-top: 0;
}

.company p {
  margin-bottom: 30px;
}

.company-list {
  padding: 0 0 0 3px;
  margin-bottom: 30px;

  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;

  list-style: none;
}

.company-item::marker {
  color: #ffc700;
}

.company-item {
  position: relative;

  padding-left: 36px;
}

.company-item:not(.company-item:nth-last-child(1)) {
  margin-bottom: 19px;
}

.company-item::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  width: 8px;
  height: 8px;
  margin: auto;

  background-color: #ffc700;
  border-radius: 50%;
}

.company-about-link-button {
  width: 270px;

  text-align: center;
}

.company-about {
  max-width: 497px;
  width: 100%;
}

.company-about-heading {
  margin-bottom: 48px;
}

.company-contact {
  box-sizing: border-box;
  max-width: 532px;
  width: 100%;
  padding-right: 19px;
  margin-left: auto;
}

.company-contact-heading {
  margin: 0;
  margin-bottom: 48px;
}

.company-contact-subheading {
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
  color: #444444;
}

.company-contact-adress {
  margin-bottom: 30px;
}

.company-contact-adress p {
  margin: 0;
}

.company-contact-tel {
  color: #000000;
}

.company-contact-tel:focus-visible {
  outline: 2px solid #af4fff;
}

.company-time-work {
  margin-bottom: 30px;
}

.company-contact-link-button {
  width: 259px;
  text-align: center;
}

.company-line {
  display: inline-block;
  margin-bottom: 32px;

  background-color: #000000;
}

/* subscription */

.subscription {
  padding-top: 64px;
  padding-bottom: 57px;

  background-color: #f0f0f0;
}

.subscription p {
  width: 529px;
  margin: 0;
  margin-left: 252px;
  padding-top: 10px;
}

.subscription h2 {
  width: 350px;
  padding-left: 6px;
  margin-bottom: 0;
}

.subscription-top {
  display: flex;
  margin-bottom: 144px;
}

.subscription-bottom {
  display: flex;
  justify-content: space-between;
}

.subscription-bottom form {
  display: flex;
  width: 810px;
  margin-right: 30px;
}

.subscription-email-field {
  box-sizing: border-box;
  flex-grow: 1;
  padding-left: 17px;

  font-size: 18px;
  line-height: 21px;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.subscription-email-field::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.subscription-email-field:invalid {
  border-bottom: 2px solid #ff3d3d;
}

.subscription-button {
  padding: 14px 34px;

  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  border: 3px solid #c4c4c4;
  cursor: pointer;
}

.subscription-button:focus-visible {
  outline: 2px solid #af4fff;
}

.subscription-button:hover {
  color: #ffffff;

  background-color: #000000;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
}

.subscription-free-text {
  position: relative;

  padding-left: 30px;
  align-self: center;
}

.subscription-free-text::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 14px;
  height: 14px;

  background-image: url("../images/jackdaw-green.svg");
}

/* footer */

.footer {
  padding: 62px 0;

  color: #ffffff;

  background-color: #444444;
}

.footer-logo-link {
  display: inline-block;
  width: 145px;
  height: 36px;
  margin-bottom: 35px;
}

.footer-logo-link:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-logo-img {
  width: 145px;
  height: 36px;
}

.footer-logo-img:hover {
  fill-opacity: 0.6;
}

.footer-logo-img:focus {
  stroke: #ff6c00;
}

.footer-logo-img:active {
  fill-opacity: 0.3;
}

.footer-logo-htmlacademy {
  width: 115px;
  height: 33px;
}

.footer-body {
  display: flex;
}

/* footer-left */

.footer-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 63px;
  margin-right: auto;

  font-size: 16px;
}

.footer-left::before {
  content: "";

  position: absolute;
  bottom: 16px;

  width: 80px;
  height: 7px;

  background-color: #ffc700;
}

.footer-left p {
  margin: 0;
}

.footer-adress {
  width: 240px;

  line-height: 20px;
}

.line {
  width: 84px;
  height: 7px;
}

/* footer-center */

.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}

.footer-social-list,
.footer-info-list {
  list-style: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 15px;
  width: 150px;
  padding: 0;
  margin: 0;
}

.footer-info-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 0;
  padding-top: 4px;
  margin: 0;

  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.footer-info-item {
  max-width: 130px;
  padding-bottom: 10px;
}

.footer-info-item:not(.footer-info-item:nth-child(3n)) {
  margin-right: 35px;
}

.footer-info-link {
  text-decoration: none;
}

.footer-info-link:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-info-link:hover {
  padding-bottom: 4px;

  color: #ffc700;

  border-bottom: 2px solid #ffc700;
}

.footer-info-link:active {
  color: #ffc700;

  border-bottom: 2px solid #ffc700;
  opacity: 0.3;
}

.footer-social-icons-link {
  position: relative;

  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  outline: none;
}

.footer-social-icons-link::after {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  pointer-events: none;
}

.footer-social-icons-link:focus-visible::after {
  outline: 2px solid #af4fff;
}

.footer-social-icons-link:hover {
  background-color: #ffc700;
}

.footer-social-item:active .footer-icons-telegram::before,
.footer-social-item:active .footer-icons-youtube::before,
.footer-social-item:active .footer-icons-twitter::before {
  opacity: 0.3;
}

.footer-icons-telegram::before,
.footer-icons-youtube::before,
.footer-icons-twitter::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 13px;
  height: 11px;
  margin: auto;

  background-repeat: no-repeat;
  background-position: center;
}

.footer-icons-telegram::before {
  background-image: url("../images/footer-social-icon/social-icon-1.svg");
}

.footer-icons-youtube::before {
  width: 16px;
  height: 11px;

  background-image: url("../images/footer-social-icon/social-icon-2.svg");
}

.footer-icons-twitter::before {
  width: 15px;
  height: 14px;

  background-image: url("../images/footer-social-icon/social-icon-3.svg");
}

/* footer-right */

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 60px;
  width: 234px;
  margin-left: auto;

  font-size: 16px;
  line-height: 20px;
}

.footer-info-link,
.footer-phone-link {
  color: #ffffff;
}

.footer-phone-link {
  display: inline-block;
  padding-top: 7px;
  margin: auto;
  margin-top: 0;
  margin-right: 0;
}

.footer-phone-link:focus-visible {
  outline: 2px solid #af4fff;
}

.footer-phone-link:hover {
  color: #ffc700;
}

.footer-phone-link:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer-logo-htmlacademy svg {
  color: #ffc700;
}

.footer-logo-htmlacademy svg:hover {
  color: #ffffff;
}

.footer-logo-htmlacademy svg:active {
  fill-opacity: 0.3;
}

.footer-logo-htmlacademy:focus-visible {
  outline: 2px solid #af4fff;
}

/* modal */
.modal-container {
  position: fixed;
  z-index: 11;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;

  box-sizing: border-box;
  max-width: 920px;
  width: 100%;
  margin: auto;

  background-color: #ffffff;
  border: 10px solid #000000;
}

.modal .link-button {
  width: 200px;
  padding: 9px 0;
  font-size: 18px;
}

.modal-container-close {
  display: none;
}

.modal input:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.modal-inner {
  padding: 62px 70px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}

.modal-heading {
  max-width: 730px;
  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.modal-close-button {
  align-self: flex-start;
  width: 26px;
  height: 26px;
  padding: 0;
  margin-top: 12px;

  background-color: transparent;
  background-image: url("../images/modal/modal-close.svg");
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

/* modal filedset-group */

.fieldset-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.fieldset-group:first-child .fieldset-wrap {
  max-width: 360px;
  width: 100%;
}

.fieldset-group input {
  width: 360px;

  font-family: "Rubik", serif;
}

.fieldset-group:last-of-type {
  margin-bottom: 35px;
}

.fieldset-group fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.fieldset-group input:focus-visible {
  outline: 2px solid #af4fff;
}

.fieldset-input-mail {
  padding-left: 20px;

  font-size: 16px;
}

.fieldset-wrap .fieldset-input-name-message {
  display: none;
  margin: 0;

  font-size: 14px;
  font-weight: inherit;
}

.fieldset-wrap .fieldset-input-mail-message {
  margin: 0;

  font-size: 14px;
  font-weight: inherit;
}

.fieldset-group .fieldset-wrap input:invalid + .fieldset-input-mail-message {
  color: #ff3d3d;
}

.fieldset-label {
  pointer-events: none;
}

.fieldset-group:nth-child(1) input:hover {
  background: #dcdcdc;
}

.fieldset-group:nth-child(1) input:invalid {
  border: 1px solid #ff3d3d;
}

.fieldset-group:nth-child(1) label {
  position: relative;
}

.fieldset-group:nth-child(1) label:before {
  content: "";

  position: absolute;
  right: 22px;
  bottom: -50px;
}

.fieldset-group:nth-child(1) .fieldset-label-name::before {
  width: 13px;
  height: 12px;

  background-image: url("../images/modal/modal-name-icon.svg");
  background-repeat: no-repeat;
}

.fieldset-group:nth-child(1) .fieldset-label-mail::before {
  width: 15px;
  height: 12px;

  background-image: url("../images/modal/modal-mail-icon.svg");
  background-repeat: no-repeat;
}

.fieldset-wrap label {
  display: block;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;

  margin-bottom: 14px;
}

.fieldset-wrap p {
  margin: 0;
  margin-bottom: 14px;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.fieldset-group input,
.fieldset-group textarea {
  font-size: 16px;
  line-height: 20px;

  box-sizing: border-box;
  height: 60px;
  padding: 0;
  padding-left: 14px;

  background-color: #f0f0f0;
  border: none;
}

.fieldset-wrap input {
  padding-right: 50px;
  padding-left: 20px;
}

.fieldset-group:last-of-type fieldset:first-child {
  max-width: 540px;
  width: 100%;
}

.fieldset-wrap textarea {
  width: 540px;
  padding: 20px 0 20px 20px;

  font-family: "Rubik", sans-serif;

  resize: none;
}

.fieldset-group:last-of-type .fieldset-wrap:last-of-type {
  max-width: 180px;
}

.counter-text {
  position: relative;
}

.counter-text p {
  max-width: 112px;
}

.fieldset-wrap textarea:focus-visible {
  outline: 2px solid #af4fff;
}

.fieldset-wrap textarea:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.fieldset-wrap input::placeholder,
.fieldset-wrap textarea::placeholder {
  color: #000000;

  opacity: 0.3;
}

.tooltip {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 34px;

  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin: auto;
  margin-left: 4px;
  padding: 0;

  background-image: url("../images/modal/modal-tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.tooltip::after {
  content: "";
  position: absolute;
  right: 6px;
  bottom: -11px;

  display: none;

  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 6px solid #000000;
}

.tooltip::before {
  content: "Постараемся найти, сколько нужно. Привезём сколько получится по требованиям к провозу багажа.";
  position: absolute;
  left: -133px;
  right: 0;
  top: 37px;

  box-sizing: border-box;
  display: none;
  width: 200px;
  min-height: 100%;
  padding: 19px;
  margin: auto;


  font-size: 16px;
  color: #ffffff;
  text-align: left;

  background-color: #000000;
}

.tooltip:focus::before,
.tooltip:focus::after {
  display: block;
}

.tooltip:hover::after,
.tooltip:hover::before {
  display: block;
}

.counter-wrap {
  display: flex;
  align-items: center;
  min-height: 60px;
  width: 180px;

  background-color: #f0f0f0;
}

.counter-error {
  border: 2px solid #ff3d3d;
}

.counter-button:hover {
  background-color: #ebebeb;
}

.counter-button:hover img {
  opacity: 0.6;
}

.counter-button:active {
  background-color: #f0f0f0;
}

.counter-button:active img {
  opacity: 0.3;
}

.counter-button:focus-visible {
  outline: 2px solid #af4fff;
}

.counter-screen::-webkit-inner-spin-button,
.counter-screen::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

.counter-screen {
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.counter-wrap img {
  vertical-align: middle;
}

.counter-wrap button,
.counter-wrap input {
  width: 60px;
  min-height: 60px;
  padding: 0;
  margin: 0;

  background-color: transparent;

  border: none;
}

.counter-wrap button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
