@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: url(../fonts/rubik/rubik-400.woff2);
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: url(../fonts/rubik/rubik-700.woff2);
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;

  src: url(../fonts/raleway/raleway-800.woff2);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 1160px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}


/* header */

.user-menu-wrapper {
  display: flex;
  width: 100%;
  height: 40px;
  padding-top: 30px;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 497px;
  margin-left: auto;
  min-height: 40px;
  margin-top: 0;
}

.navigation-wrapper {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  list-style-type: none;
}

.header-form {
  z-index: 5;
}


.user-menu li:nth-child(1) a {
  margin-right: 176px;
}

.user-menu li:nth-child(2) a {
  margin-right: 36px;
}


.header-container {
  position: relative;
  padding: 0 60px;
  background: linear-gradient(#ffffff 40px, #ffe17f 40px);

}

.header-logo {
  padding-top: 20px;
  margin-bottom: 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;

}

.header-search-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
 justify-content: space-between;
  max-width: 517px;

}


.header-form {
  box-sizing: border-box;
  display: flex;
  width: 517px;
}

.search-field {
  position: relative;
  flex-grow: 1;
  border: none;
  cursor: text;
}

.search-field {
  width: 100%;
  min-height: 40px;
  padding: 0;
  padding-left: 48px;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  border: none;
  outline: none;
  border-radius: 40px 0 0 40px;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
}

.header-search-button {
  position: relative;
  width: 158px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  background-color:  #ffe17f;
  border-radius: 0 40px 40px 0;
  border: 2px solid #000000;
  cursor: pointer;
}



.header-catalog {

  display: flex;
  align-items: center;
  min-height: 50px;
  padding-bottom: 0;
}


  .header-catalog-button {
    position: relative;
    /* display: inline; */
    align-items: center;
    min-width: 293px;
    min-height: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-transform: uppercase;
    /* text-decoration: none; */
    color: #000000;
    background-color: transparent;
    border: none;
    /* padding-right: 0px; */
    text-align: left;
}




.header-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50px;
  max-width: 523px;
  width: 100%;

}

 .header-navigation-container {
  padding-left: 24px;
}

.header-user-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40px;

  margin-left: 24px;
}

.header-user-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 231px;
  margin-right: auto;
}

.header-user-menu .header-action-link {
  position: relative;
  padding-left: 24px;
  left: 0;
  top: 0;
  bottom: 0;

  width: 13px;
  height: 12px;
  margin: auto;
}

.header-compare {
  margin-right: 18px;
}

.header-compare .header-action-link {
  position: relative;
  padding-left: 24px;
}

.header-action-menu {
  position: relative;
  display: flex;
  max-width: 240px;

}

.header-action-link {
  display: flex;
  color: #000000;
  text-decoration: none;
}

.basket-link-button {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.header-navigation {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.navigation-list li:last-child a {
  padding-right: 0px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;

 min-height: 50px;
 align-items: center;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-right: 45px;
}

/*main*/
.main {
  flex-grow: 1;
}

.slider {
  padding-left: 30px;
  background: linear-gradient(#ffe17f 134px, #ffffff 134px);

}

.slider-wrapper {
  position: relative;
  z-index: 0;
}


.slider-item {
  z-index: 1;
  display: flex;
}


.slider-image {
  width: 560px;
  height: 560px;
}

.slider-description {
  padding-top: 100px;
  z-index: 4;
}

.description-title {
  margin-top: -65px;
    padding-top: 0px;


    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.slider-description p {
  margin: 0;
  margin-bottom: 50px;
}

.slider-link {
  display: inline-block;
  width: 220px;
  margin-bottom: 50px;
  text-align: center;
}

.slider-item-number {
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  right: 49px;
  top: 70px;
  z-index: -1;
}
/*main*/

.category-item-text {
font-family: Raleway, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: 700px;
}

.categories-list {
  list-style: none;
}

.categories-list {
  display: flex;
  justify-content: space-between;
}

.category-icon {
  background: #ffe17f;
  background-position: center;
  margin: auto;
}

.categories-item {
  justify-content: center;
  align-content: center;
}

/*delivery*/

.service {
  min-height: 390px;
  background: linear-gradient(#ffffff 100px, #f0f0f0 100px);
  display:flex;
}

.service-meny {
  width: 287px;
  min-height: 319px;
}

.service-description-wrap {
padding-left: 116px;

padding-bottom: 144.5px;
font-size: 18px;
min-height: 174px;
width:452px;
}

.service-meny-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.service-meny-item {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700px;
  line-height: 21px;
  background: #ffe17f;
  min-height: 40px;
  width: 160px;
  padding: 10px 4px;
}

.service-description-title {
font-size: 50px;
line-height: 50px;
font-weight: 800px;
}

/*delivery*/

.categories {
  padding-top: 70px;
  padding-bottom: 70px;
}


.special-order {
  margin-bottom: 70px;
  margin-top: 70px;
  position: relative;

}

.special-order-wrapper {
  min-height: 100px;
  display: flex;
}

.special-order-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 125px;

  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
  text-decoration: none;

  background-color: #f0f0f0;
}

.special-order-icon {
  width: 47px;
  height: 31px;
  background-image: url(images/icon-delivery.svg);
  background-repeat: no-repeat;
  background-color: #ffe17f;
 padding-left: 35px;
 padding-right: 35px;
 height: inherit;

  background-position: center;
  position: absolute;
  top: 0px;
  bottom:0;
  z-index: 3;
}

.company-about {
  background: salmon;
}

.company-contact {
  background: teal;
}

.wrapper-about {
  display: flex;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.company-contact-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.company-delivery-list {
  font-weight: 700;
}

.company-delivery-list {
  list-style: none;
}

.company-delivery-list .company-item::before {
  content: "\2022";
  color: #ffe17f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.company-about {
  min-height: 493px;
  width: 520px;
}

.company-contact-wrapper {
  width: 532px;
  min-height: 545px;
}

.wrapper-about {
  justify-content: space-between;

}

.newsletter {
  padding-top: 64px;
  padding-bottom: 57px;
  background-color: #f0f0f0;
}

.newsletter-description-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
}

.newsletter-description-text {
  margin: 0;
}

.description-text-container {
  min-width: 90px;
  width: 560px;
  background: yellow;
}

.newsletter-description {
  display: flex;
  margin-bottom: 144px;
}


/* newsletter form */

.newsletter-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.newsletter-email-field {
  box-sizing: border-box;
  flex-grow: 1;
  padding-left: 17px;
  padding-bottom: 14px;
  font-size: 18px;
  line-height: 21px;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #c4c4c4;
  width: 557px;
}


.newsletter-button {
  padding: 14px 34px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 3px solid #c4c4c4;
}

/*
.newsletter-free-text {


  padding-left: 30px;
  align-self: center;

  position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 4;
}

/*footer*/

.footer {
  background-color: #444444;
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.footer-container {

  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding: 62px 0;
  gap: 30px 119px;
  grid-template-columns: 240px 444px 238px;
}

.footer-logo-link {
  display: inline-block;
  width: 145px;
  height: 36px;
}


.footer-logo-link {
  grid-column: 1/4;

}

.social-links-list {
  grid-column: 2/3;
}

.footer-navigation-list {
  list-style-type: none;
  display: flex;
}

.footer-navigation-list .navigation-link {
  color: white;
  align-content: center;
  display: flex;
  margin-top: 0;
  margin-block-start: 0;
    margin-block-end: 0;

    padding-inline-start: 0;

}

.social-links-list {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;

    padding-inline-start: 0;

    gap: 20px;
}


.footer-phone-link {
 display: flex;
 justify-self: end;
 align-items: start;
}

.html-logo-footer {
  justify-self: end;
}

.footer-navigation {
  justify-self: center;
  align-self: start;
}


.footer-adress {
  font-style: normal;
}


.footer-navigation-list {
  margin-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}



/*




.footer-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.social-links-list {
  display: flex;
}

.footer-phone-link {
  display: inline-block;
  padding-top: 7px;
  margin: auto;
  margin-top: 0;
  margin-right: 0;
  color: white;
  text-decoration: none;
}
