@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  src: url(../fonts/rubik/rubik-400.woff2);
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: url(../fonts/rubik/rubik-700.woff2);
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-display: swap;

  src: url(../fonts/raleway/raleway-800.woff2);
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  min-width: 1160px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}


/* header */

.header-container {
  position: relative;
  padding: 0 60px;
  background: linear-gradient(#ffffff 40px, #ffe17f 40px);
}

.header-logo {
  padding-top: 20px;
  margin-bottom: 30px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  background: blue;
}

.header-search-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
 justify-content: space-between;
  max-width: 517px;
  background:red;
}

.header-form {
  box-sizing: border-box;
  display: flex;
  width: 517px;
}

.search-field {
  position: relative;
  flex-grow: 1;
  border: none;
  cursor: text;
}

.search-field input {
  width: 100%;
  min-height: 40px;
  padding: 0;
  padding-left: 48px;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffe17f;
  border: none;
  outline: none;
  border-radius: 40px 0 0 40px;
  border: 2px solid #000000;
  border-right: 1px solid #000000;
}

.header-search-button {
  position: relative;
  width: 158px;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  background-color:  #ffe17f;
  border-radius: 0 40px 40px 0;
  border: 2px solid #000000;
  cursor: pointer;
}


.header-catalog {
  background: green;
  display: flex;
  align-items: center;
  min-height: 50px;
  padding-bottom: 0;
}

.header-catalog-title {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 293px;
  min-height: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.header-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50px;
  max-width: 523px;
  width: 100%;
  background: purple;
}

 .header-navigation-container {
  padding-left: 24px;
}

.header-user-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40px;
  background: pink;
  margin-left: 24px;
}

.header-user-menu {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 231px;
  margin-right: auto;
}

.header-user-menu .header-action-link {
  position: relative;
  padding-left: 24px;
  left: 0;
  top: 0;
  bottom: 0;

  width: 13px;
  height: 12px;
  margin: auto;
}

.header-compare {
  margin-right: 18px;
}

.header-compare .header-action-link {
  position: relative;
  padding-left: 24px;
}

.header-action-menu {
  position: relative;
  display: flex;
  max-width: 240px;
  background: grey;
}

.header-action-link {
  display: flex;
  color: #000000;
  text-decoration: none;
}

.basket-link-button {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.header-navigation {
  width: 100%;
  background: orange;
  display: flex;
  justify-content: flex-start;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: yellow;
 min-height: 50px;
 align-items: center;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-right: 45px;
}

/*main*/
.main {
  flex-grow: 1;
}

.slider {
  padding-left: 30px;
  background: linear-gradient(#ffe17f 134px, #ffffff 134px);
}

.slider-wrapper {
  position: relative;
}


.slider-item {
  z-index: 1;
  display: flex;
}


.slider-image {
  width: 560px;
  height: 560px;
}

.slider-description {
  padding-top: 122px;
}

.description-title {
  margin: 0;
    margin-bottom: 16px;
    padding-top: 35px;

    font-family: "Raleway", sans-serif;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
}

.slider-description p {
  margin: 0;
  margin-bottom: 50px;
}

.slider-link {
  display: inline-block;
  width: 220px;
  margin-bottom: 50px;
  text-align: center;
}

.slider-item-number {
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  right: 49px;
  top: 29px;}
/*main*/

.category-item-text {
font-family: Raleway, sans-serif;
font-size: 18px;
line-height: 24px;
font-weight: 700px;
}

.categories-list {
  list-style: none;
}

.categories-list {
  display: flex;
  justify-content: space-between;
}

.category-icon {
  background: #ffe17f;
}

/*delivery*/

.service {
  min-height: 390px;
  background: linear-gradient(#ffffff 100px, #f0f0f0 100px);
  display:flex;
}

.service-meny {
  width: 287px;
  min-height: 319px;
}

.service-description-wrap {
  background:thistle;
  padding-left: 116px;
padding-top: 72.5px;
padding-bottom: 72.5px;
font-size: 18px;
min-height: 174px;
width:452px;
}

.service-meny-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.service-meny-item {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700px;
  line-height: 21px;
  background: #ffe17f;
  min-height: 40px;
  width: 160px;
  padding: 10px 4px;
}
/*delivery*/

.categories {
  padding-top: 70px;
  padding-bottom: 70px;
}


/*footer*/

<footer class="footer">
<div class="footer-container container">
    <a class="footer-logo-link" href="index.html">
      <img src="./images/footer/footer-logo.svg" width="145" height="36" alt="Логотип.">
      <span class="visually-hidden">Логотип,переход на главную страницу.</span>
    </a>
    <div class="footer-body">
    <div class="footer-left">
      <p class="footer-adress">
        Санкт-Петербург, набережная реки Карповки, 5, литера П.
      </p>
    </div>
    <div class="footer-center">
      <ul class="footer-info-list">
        <li class="footer-info-item">
          <a class="footer-info-link" href="#">доставка</a>
        </li>
        <li class="footer-info-item">
          <a class="footer-info-link" href="#">гарантия</a>
        </li>
        <li class="footer-info-item">
          <a class="footer-info-link" href="#">контакты</a>
        </li>
      </ul>
      <ul class="footer-social-list">
        <li class="footer-social-item">
          <a class="footer-social-icons-link footer-icons-telegram" href="https://telegram.org/">
            <span class="visually-hidden ">Telegram</span>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-icons-link footer-icons-youtube" href="https://www.youtube.com/">
            <span class="visually-hidden">Youtube</span>
          </a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-icons-link footer-icons-twitter" href="https://twitter.com/">
            <span class="visually-hidden">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-right">
      <a class="footer-phone-link" href="tel:+7(812)812-12-12">
        <span class="phone">Тел.: +7 (812) 812-12-12</span>
      </a>
      <a class="footer-logo-htmlacademy" href="https://htmlacademy.ru/study">
        <svg width="115" height="33" fill="#ffe17f"  xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M0 12.9v2.6h2.5v-2.6H0ZM11.6 4.5c-1.6 0-2.8.7-3.6 1.7h-.1V0h-2v15.5h2v-5.3c0-2.1 1.3-3.6 3.3-3.6 1.8 0 2.9 1.4 2.9 3.2v5.7h2V9.4c.1-3-1.8-4.9-4.5-4.9ZM26.6 4.8h-4.8V1.1h-2v3.8h-1.9v2h1.9v6c0 1.7 1 2.7 2.7 2.7h4.1v-2h-3.7c-.7 0-1.1-.4-1.1-1.1V6.8h4.8v-2ZM41.1 4.6c-1.6 0-2.9.8-3.5 2.1h-.1c-.6-1.2-1.8-2.1-3.4-2.1-1.4 0-2.5.8-3.1 1.8h-.1V4.8H29v10.6h2V10c0-2 1-3.5 2.6-3.5 1.5 0 2.4 1 2.4 2.6v6.3h2V9.8c0-2.4 1.4-3.3 2.6-3.3 1.5 0 2.4 1 2.4 2.6v6.3h2V8.9c.1-2.5-1.4-4.3-3.9-4.3ZM47.8 12.7c0 1.7 1 2.7 2.8 2.7h2v-2h-1.7c-.7 0-1.1-.4-1.1-1.1V0h-2v12.7ZM28.9 19.7c-.9-1.1-2.2-1.8-3.9-1.8-3.1 0-5.4 2.3-5.4 5.6s2.3 5.6 5.4 5.6c1.8 0 3-.8 3.8-1.9h.1v1.6h2V18.2h-2v1.5Zm-3.6 7.4c-2.2 0-3.6-1.6-3.6-3.6s1.4-3.6 3.6-3.6 3.6 1.6 3.6 3.6c0 1.9-1.4 3.6-3.6 3.6ZM44.2 22c-.5-2.4-2.6-4.1-5.4-4.1-3.4 0-5.6 2.5-5.6 5.6 0 3.1 2.2 5.6 5.6 5.6 2.8 0 4.9-1.8 5.4-4.2h-2.1c-.4 1.3-1.7 2.3-3.3 2.3-2.2 0-3.6-1.6-3.6-3.6s1.4-3.6 3.6-3.6c1.6 0 2.8 1 3.3 2.2h2.1V22ZM55.1 19.7c-.9-1.1-2.2-1.8-3.9-1.8-3.1 0-5.4 2.3-5.4 5.6s2.3 5.6 5.4 5.6c1.8 0 3-.8 3.8-1.9h.1v1.6h2V18.2h-2v1.5Zm-3.6 7.4c-2.2 0-3.6-1.6-3.6-3.6s1.4-3.6 3.6-3.6 3.6 1.6 3.6 3.6c0 1.9-1.5 3.6-3.6 3.6ZM68.7 19.8c-.9-1.1-2.2-1.9-3.9-1.9-3.1 0-5.4 2.3-5.4 5.6s2.2 5.6 5.4 5.6c1.7 0 3-.8 3.8-1.8h.1v1.5h2V13.4h-2v6.4Zm-3.6 7.3c-2.2 0-3.6-1.6-3.6-3.6s1.4-3.6 3.6-3.6 3.6 1.6 3.6 3.6c-.1 2-1.5 3.6-3.6 3.6ZM78.3 17.9c-3.3 0-5.5 2.5-5.5 5.6 0 3 2.1 5.6 5.5 5.6 2.5 0 4.5-1.3 5.2-3.6h-2.1c-.5 1-1.6 1.6-3 1.6-1.9 0-3.3-1.3-3.4-2.9h8.8c.2-3.6-2-6.3-5.5-6.3Zm0 1.9c1.7 0 3 1 3.3 2.6h-6.5c.3-1.5 1.5-2.6 3.2-2.6ZM98.2 17.9c-1.6 0-2.9.8-3.6 2h-.1c-.6-1.2-1.8-2-3.4-2-1.4 0-2.5.7-3.1 1.8v-1.5h-1.9v10.6h2v-5.4c0-2 1-3.4 2.6-3.5 1.5 0 2.4 1 2.4 2.6v6.3h2v-5.6c0-2.4 1.4-3.3 2.6-3.3 1.5 0 2.4 1 2.4 2.6v6.3h2v-6.5c.1-2.6-1.4-4.4-3.9-4.4ZM109.4 27l-3.6-8.9h-2.2l4.8 11.6c-.3.9-.7 1.2-1.7 1.2h-2.5v2h2.5c1.8 0 2.8-.8 3.5-2.6l4.7-12.2h-2.1l-3.4 8.9Z"/>
        </svg>
      </a>
    </div>
  </div>
</div>
</footer>
